<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Simple-chat</title>
    <link href="/css/chat.css" rel="stylesheet" />
    <script src="/js/chat.js"></script>
  </head>
  <body>
    <main>
      <header>
        <h3><%= roomName %></h3>
      </header>
      <nav>
        <a href="/room/<%= roomId %>/leave">Leave room</a>
        <a href="../">Back</a>
      </nav>
      <section class="chat-box-container">
        <div class="messages">
          <h4>Messages</h4>
          <ul>
            <% messages.forEach(function(msg) { %>
              <%- include("msg-li", { msg: msg }) %>
            <% }) %>
          </ul>
        </div>
        <div class="input">
          <form action="/room/<%= roomId %>" method="post" id="sendMessageForm">
            <input name="message" type="text" value="" placeholder="Enter message"/>
            <button type="submit" form="sendMessageForm">Send</button>
          </form>
        </div>
      </section>
      <section class="user-list-container">
        <h4>People in this room</h4>
        <ul>
          <% users.forEach(function(user) { %>
            <%- include("user-li", { user: user }) %>
          <% }) %>
        </ul>
      </section>
    </main>
  </body>
</html>
